body{
    font-family: 'Special Elite', cursive;
}

h2{
    color: red;
    height: 20px;;
}

.center{
    text-align: center;
}

#board {
    padding: 3em;
    text-align: center;
}

.row {
    width: 302px;
    clear: both;
    margin: 0 auto;
    clear: both;
}

.row div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 65px;
}


.top,
.middle.left,
.middle.middle.center-square,
.middle.right{
    border-bottom: 1px black solid;
}

.top.middle.center,
.middle.middle.center,
.bottom.middle.center{
    border-left: 1px black solid;
    border-right: 1px black solid;
}

button#resetButton {
    margin-top: 65px;
    background: red;
    padding: 8px 25px;
    border: 0;
    color: #ffffff;
    font-size: 14px;
}